{% load static %}

<!-- [ navigation menu ] start -->
	<nav class="pc-sidebar ">
		<div class="navbar-wrapper">
			<div class="m-header">
				<a href="index.html" class="b-brand">
					<!-- ========  change your logo here ============ -->
					<img src="{% static 'images/logo.svg' %}" alt="" class="logo logo-lg">
					<img src="{% static 'images/logo-sm.svg' %}" alt="" class="logo logo-sm">
				</a>
			</div>
			<div class="navbar-content">
				<ul class="pc-navbar">
					<li class="pc-item pc-hasmenu">
						<a href="#!" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone">https</i></span><span class="pc-mtext">My Profile</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
						<ul class="pc-submenu">
							<li class="pc-item"><a class="pc-link" href="#">Personal Info</a></li>
							<li class="pc-item"><a class="pc-link" href="#">Contact Info</a></li>
							<li class="pc-item"><a class="pc-link" href="#">Verifications</a></li>
							<li class="pc-item"><a class="pc-link" href="#">Ratings</a></li>
						</ul>
					</li>
					<li class="pc-item pc-hasmenu">
						<a href="#!" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone">https</i></span><span class="pc-mtext">Developer Dashboard</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
						<ul class="pc-submenu">
							<li class="pc-item"><a class="pc-link" href="#">Your Projects</a></li>
							<li class="pc-item"><a class="pc-link" href="#">Projects Under Hosting</a></li>
							<li class="pc-item"><a class="pc-link" href="#">Projects Under Review</a></li>
							<li class="pc-item"><a class="pc-link" href="#">Sold Projects</a></li>
							<li class="pc-item"><a class="pc-link" href="#">Rejected Projects</a></li>
							<li class="pc-item"><a class="pc-link" href="#">Ratings</a></li>
						</ul>
					</li>
					<li class="pc-item pc-hasmenu">
						<a href="#!" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone">https</i></span><span class="pc-mtext">Client Dashboard</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
						<ul class="pc-submenu">
							<li class="pc-item"><a class="pc-link" href="#">Your Projects</a></li>
							<li class="pc-item"><a class="pc-link" href="#">Projects Under Hosting</a></li>
							<li class="pc-item"><a class="pc-link" href="#">Projects Under Review</a></li>
							<li class="pc-item"><a class="pc-link" href="#">Rejected Projects</a></li>
							<li class="pc-item"><a class="pc-link" href="#">Ratings</a></li>
						</ul>
					</li>
					<li class="pc-item pc-hasmenu">
						<a href="#!" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone">https</i></span><span class="pc-mtext">Hoster Dashboard</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
						<ul class="pc-submenu">
							<li class="pc-item"><a class="pc-link" href="#">Recommended Jobs</a></li>
							<li class="pc-item"><a class="pc-link" href="#">Saved Jobs</a></li>
							<li class="pc-item"><a class="pc-link" href="#">Ongoing Jobs</a></li>
							<li class="pc-item"><a class="pc-link" href="#">Completed Jobs</a></li>
							<li class="pc-item"><a class="pc-link" href="#">Find Projects</a></li>
							<li class="pc-item"><a class="pc-link" href="#">Ratings</a></li>
						</ul>
					</li>
					<li class="pc-item pc-hasmenu">
						<a href="#!" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone">https</i></span><span class="pc-mtext">Reviewer Dashboard</span><span class="pc-arrow"><i data-feather="chevron-right"></i></span></a>
						<ul class="pc-submenu">
							<li class="pc-item"><a class="pc-link" href="#">Recommended Jobs</a></li>
							<li class="pc-item"><a class="pc-link" href="#">Saved Jobs</a></li>
							<li class="pc-item"><a class="pc-link" href="#">Ongoing Jobs</a></li>
							<li class="pc-item"><a class="pc-link" href="#">Completed Jobs</a></li>
							<li class="pc-item"><a class="pc-link" href="#">Find Projects</a></li>
							<li class="pc-item"><a class="pc-link" href="#">Ratings</a></li>
						</ul>
					</li>
					<!-- <li class="pc-item">
						<a href="/bc_typography.html" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">business_center</i></span><span class="pc-mtext">Typography</span></a>
					</li>
					<li class="pc-item">
						<a href="/icon-feather.html" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">history_edu</i></span><span class="pc-mtext">Icons</span></a>
					</li>

					<li class="pc-item">
						<a href="/tbl_bootstrap.html" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">table_rows</i></span><span class="pc-mtext">Bootstrap table</span></a>
					</li>

					<li class="pc-item">
						<a href="/chart-apex.html" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">bubble_chart</i></span><span class="pc-mtext">Chart</span></a>
					</li>
					<li class="pc-item">
						<a href="/map-google.html" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">my_location</i></span><span class="pc-mtext">Maps</span></a>
					</li> -->
				</ul>
				<div class="card text-center">
					<div class="card-body">
						<i class="feather icon-rocket f-40"></i>
						<h6 class="mt-3">Need More?</h6>
						<a href="https://appseed.us/product/django-dashboard-kit-pro"
							target="_blank" class="btn btn-primary btn-sm text-white m-0">PRO Version</a>
						<p>For more features and components</p>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->
